{{#isTypeReflObject}}{{#isTypeReflPointer}}{{#isTypeDynamicCast}}std::dynamic_pointer_cast{{/isTypeDynamicCast}}{{^isTypeDynamicCast}}std::static_pointer_cast{{/isTypeDynamicCast}}<System::Reflection::meta_traits::RemoveSharedPtr<{{& type}}>::type>(value.ToSharedObject()){{/isTypeReflPointer}}{{^isTypeReflPointer}}{{^isTypePointer}}*{{/isTypePointer}}{{#isTypeDynamicCast}}dynamic_cast{{/isTypeDynamicCast}}{{^isTypeDynamicCast}}static_cast{{/isTypeDynamicCast}}<std::remove_reference<{{& type}}>::type{{^isTypePointer}}*{{/isTypePointer}}>(value.ToObject()){{/isTypeReflPointer}}{{/isTypeReflObject}}{{^isTypeReflObject}}(value.GetValue<std::remove_reference<{{& type}}>::type{{^isTypePointer}}&{{/isTypePointer}}>()){{/isTypeReflObject}}