{{#isReflObject}}{{#isDynamicCast}}dynamic_cast{{/isDynamicCast}}{{^isDynamicCast}}static_cast{{/isDynamicCast}}<std::remove_cv<{{& parentQualifiedName}}>::type*>(obj.ToObject()){{/isReflObject}}{{^isReflObject}}(obj.GetBase() ? obj.GetValue<std::remove_cv<{{& parentQualifiedName}}>::type*>() : nullptr){{/isReflObject}}